html,
body {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0px;
  height: 100vh;
  color: #fff;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #db6565;
}

canvas {
  margin: 10px;
  flex: 1;
  background-color: transparent;
}

footer {
  height: 10vh;
  padding: 0px 10px 10px 10px;
}
